* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
}
.page-container {
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.content-container {
  width: 1300px;
  height: fit-content;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.page-title {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sugestions-label {
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  margin-bottom: 8px;
}
.other-sugestions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sugestions-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.sugestion-container {
  width: 140px;
  height: 230px;
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid rgba(143, 142, 142, 1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3px;
  cursor: pointer
}
.sugestion-image {
  width: 110px;
  height: 1550px;
  opacity: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: 3px;
}
.sugestion-price-container {
  display: flex;
  flex-direction: row-reverse;
}

.sugestion-name {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
  margin-top: 3px;
}
.sugestion-price-label {
  width: auto;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
}
.sugestion-price {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
